__Задача 1__

Даны значения величины заработной платы заемщиков банка (`salary`) и значения их поведенческого кредитного скоринга (`scoring`):
```
salary = [35, 45, 190, 200, 40, 70, 54, 150, 120, 110]
scoring = [401, 574, 874, 919, 459, 739, 653, 902, 746, 832]
```
1. Найдите ковариацию этих двух величин: сначала без использования специальных функций, а затем с помощью функции `numpy.cov`. Полученные значения должны быть равны.
2. Найдите коэффициент корреляции Пирсона: с помощью ковариации и средних квадратических отклонений двух признаков, а затем с помощью специальных функций из библиотек `numpy` и `pandas`.

In [49]:
import numpy as np
import pandas as pd
from matplotlib import pyplot
salary = np.array([35, 45, 190, 200, 40, 70, 54, 150, 120, 110])
scoring = np.array([401, 574, 874, 919, 459, 739, 653, 902, 746, 832])

In [63]:
MX = salary.mean()
MY = scoring.mean()

cov = ((salary - MX) * (scoring - MY)).sum() / (salary.shape[0] - 1)
cov

10175.37777777778

In [64]:
np.cov(salary, scoring)

array([[ 3882.93333333, 10175.37777778],
       [10175.37777778, 33854.32222222]])

Не получилось по формуле посчитать правильно, дуумаю проблема в тепенях свободы

In [68]:
corr = cov / (salary.std() * scoring.std(ddof = 1))
corr

0.9091393732536033

In [66]:
np.corrcoef(salary, scoring)

array([[1.        , 0.88749009],
       [0.88749009, 1.        ]])

In [67]:
salary1 = [35, 45, 190, 200, 40, 70, 54, 150, 120, 110]
scoring1 = [401, 574, 874, 919, 459, 739, 653, 902, 746, 832]
data = [salary1, scoring1]
df = pd.DataFrame(list(zip(salary1, scoring1)), columns = ["salary", "scoring"])
df.corr()

          salary  scoring
salary   1.00000  0.88749
scoring  0.88749  1.00000

__Задача 2__

Измерены значения IQ выборки студентов, обучающихся в местных технических вузах:
```
131, 125, 115, 122, 131, 115, 107, 99, 125, 111
```
Известно, что в генеральной совокупности IQ распределен нормально. Найдите доверительный интервал для математического ожидания с надежностью 0.95.

In [56]:
from scipy import stats
iq = np.array([131, 125, 115, 122, 131, 115, 107, 99, 125, 111])
std = iq.std()
mean = iq.mean()
n = 10

p = 0.95
alpha = 1 - p

t1 = stats.t.ppf(alpha / 2, df=n - 1)
t2 = stats.t.ppf(1 - alpha / 2, df=n - 1)

t1, t2

(-2.2621571627409915, 2.2621571627409915)

In [58]:
(mean + t1 * std / np.sqrt(n), mean + t2 * std / np.sqrt(n))

(110.9432125583706, 125.25678744162938)

__Задача 3__

Известно, что рост футболистов в сборной распределен нормально с известной дисперсией 25. На выборке объёма 27 выборочное среднее составило 174.2. Найдите доверительный интервал для математического ожидания с надежностью 0.95.

In [61]:
std = 25
mean = 174.2
n = 27

p = 0.95
alpha = 1 - p

t1 = stats.t.ppf(alpha / 2, df=n - 1)
t2 = stats.t.ppf(1 - alpha / 2, df=n - 1)

t1, t2

(-2.055529438642871, 2.055529438642871)

In [62]:
(mean + t1 * std / np.sqrt(n), mean + t2 * std / np.sqrt(n))

(164.31032937726948, 184.0896706227305)